.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
    flex-direction: row;
}

.modal-container {
    position: relative;
    width: fit-content;
    padding: 2rem;
    border: solid 3px black;
    border-radius: 15px;
    background-color: white;
}
.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}